
.admin_back{
  background-color: rgb(243, 243, 243);
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
aside, .height_100{
    height: 100%;
}
.aside_link{
    text-decoration:none;
    color:black;
    font-size: 18px;
    font-weight:500;
    transition: .5s;
    display: block;
    padding: 15px 0;
  }
  .aside_item{
    transition: .5s;
  }
  .aside_item:hover{
    background-color: #f0f0f0;
  }
  .icon_color{
    color: #ecb100;
  }