a{
    text-decoration: none;
    color: black;
}
.category_title{
    font-size: 46px;
}
.Product_category{
    background-image: url(/public/images/products-page-heading.jpg);
    height: 380px;
}
.stroke-text {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #fff;
    color: transparent !important;
}
.category_title{
    font-size: 3rem;
}
.page404{
    height: 90vh;
}