@font-face {
  font-family: 'WorkSans';
  src: url(/public/fonts/WorkSans-Regular.ttf);
}
* {
  margin: 0;
  font-family: 'WorkSans';
  box-sizing: border-box;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
